*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box{
    padding: 20px;
}
.h1{
    text-align: center;
    color: blue;
    margin-bottom: 25px;
    margin-top: 25px;
}
.card{
    width: 500px;
    padding: 10px;
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
.img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
}