@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: black;
    background-color: #001e4d;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}
.app{
    background-color: #ffffff;
    width: 90%;
    border-radius: 10px;
    padding: 30px;
    max-width: 600px;
    margin-top: 10%;
}
.app h1{
    color: #001e4d;
    border-bottom: 1px solid #333;
}
.quiz h2{
    color: #001e4d;
    font-size: 18px;
}
.btn{
    background-color: #fff;
    color: #222;
    font-weight: 500;
    border: 1px solid #222;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover{
    background-color: #222;
    color: #fff;
}
#nextBtn{
    background-color: #001e4d;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    /* display: none; */
}